# Ignore Python virtual environments
.venv/

# Ignore data folders
data/

# private consts
src/private_consts.py


# Ignore Python cache
__pycache__/
*.pyc

# Ignore OS files
.DS_Store

# Ignore logs
*.log

# Ignore environment files
.env
